<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-3">INPUT MODE </h1>
        </div>
    </div>
</div>


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"></span>
    </div>
    <input type="text" inputmode="tel" class="form-control" placeholder="EMAIL">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"></span>
    </div>
    <input type="text" inputmode="numeric" class="form-control" placeholder="NUMERIC">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"></span>
    </div>
    <input type="text" inputmode="url" class="form-control" placeholder="URL">
</div>



<hr />

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Selext x Radio </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="ml-5">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
                <label class="form-check-label" for="exampleRadios1">
                    Nenhum
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2">
                <label class="form-check-label" for="exampleRadios2">
                    Pouco
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3">
                <label class="form-check-label" for="exampleRadios3">
                    Muito
                </label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="ml-5">
            <select class="custom-select">
                <option selected>Cores</option>
                <option value="1">Amarelo</option>
                <option value="2">Azul</option>
                <option value="3">Vermelho</option>
                <option value="4">Preto</option>
                <option value="5">Branco</option>
                <option value="6">Laranja</option>
            </select>
        </div>
    </div>
</div>