<div class="container">
    <div class="col">
        <h1 class="display-3">Margin </h1>
    </div>
</div>

<div class="container bg-dark pt-5 pb-5">

    <div class="panel1 mb-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="card ml-2">
                    <img  src="https://source.unsplash.com/300x200/?sky,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?nature,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?blue,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?tech,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel2">
        <div class="row">
            <div class="col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?remove,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?play,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?game,blue,dark">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>

            <div class=" col-lg-3">
                <div class="card ml-2">
                    <img src="https://source.unsplash.com/300x200/?soft,blue,blue">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    img:hover {
        transform: scale(1.1);
        transition-duration: 0.4s;
    }
    img {
        transform: scale(1);
        transition-duration: 0.4s;
    }
</style>