<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Class </h1>
        </div>
    </div>
</div>



<div class="container">

    <div class="row mb-2">
        <div class="col bg-success">
            <div class="float-right text-white">
                <h1 class="display-4">Float right </h1>
            </div>

            <div class="float-left text-white">
                <h1 class="display-4">Float left </h1>
            </div>
        </div>
    </div>


    <div class="row mb-2">
        <div class="col bg-primary text-white">
            <h1 class="display-4">Background </h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col bg-dark text-danger">
            <h1 class="display-4">Background </h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col bg-warning text-white">
            <h1 class="display-4">Background </h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col bg-info text-danger">
            <h1 class="display-4">Background </h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col bg-danger text-white">
            <h1 class="display-4">Background </h1>
        </div>
    </div>

</div>



<div class="container">
    <div class="row mb-2">
        <div class="col text-uppercase text-danger">
            <h1 class="display-4">texto </h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col text-uppercase text-success">
            <h1 class="display-4">texto </h1>
        </div>

    </div>
    <div class="row mb-2">
        <div class="col text-lowercase">
            <h1 class="display-4">texto </h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col font-italic">
            <h1 class="display-4">texto </h1>
        </div>
    </div>

    <form class="bg-secondary p-3">
        <label class="text-white-50">Propriedade Disabled ver no <'codigo'> </label>
        <fieldset disabled>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="disabled">
            </div>
            <div class="mb-3">
                <select class="form-select">
                    <option>Disabled</option>
                </select>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label text-white">
                        Disabled
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary text-white">Disabled</button>
        </fieldset>
    </form>
</div>