<div class="container">
    <div class="col">
        <h1 class="display-3">Columns </h1>
    </div>
</div>

<!-- #region ROW + ROL (AUTOMATICO)  -->
<small>Row + Col Autmática</small>

<div class="container">

    <div class="row bg-dark text-light text-center mb-2">
        <div class="col">
            <h1 class="display-3">Codelab </h1>
        </div>
    </div>


    <div class="row bg-dark text-light mb-2">
        <div class="col">
            <h1 class="display-3">Codelab </h1>
        </div>

        <div class="col"></div>

        <div class="col">
            <h1 class="display-3">Codelab</h1>
        </div>
    </div>



    <div class="row bg-dark text-light mb-2">
        <div class="col">
            <h1 class="display-3">Codelab </h1>
        </div>

        <div class="col">
            <h1 class="display-3">Codelab </h1>
        </div>

        <div class="col">
            <h1 class="display-3">Codelab</h1>
        </div>
    </div>

    <div class="row bg-dark text-light text-center mt-5">
        <div class="col">
            <h1 class="display-3">Codelab </h1>
        </div>
    </div>

</div>
<hr />
<!-- #endregion -->

<!-- #region   ROW + COL ( MANUAL ) -->
<small>Row + Col Manual</small>

<div class="container">
    <div class="row bg-info text-light mb-2">
        <div class="col-10">
            <h1 class="display-2">Code </h1>
        </div>
        <div class="col-2">
            <h1 class="display-3">Lab </h1>
        </div>
    </div>

    <div class="row bg-info text-light mb-2">
        <div class="col-3">
            <h1 class="display-3">Cod </h1>
        </div>
        <div class="col-5">
            <h1 class="display-3">Lab </h1>
        </div>
        <div class="col-3">
            <h1 class="display-3">Codelab </h1>
        </div>
    </div>

</div>
<!-- #endregion -->